/* Add flexbox to the navbars. */

/* Format the size of all images. */

/* Style the font color. */

/* Style the background with a color or image. */

/* Adjust the spacing of your page. */

/* Adjust the positioning of your page.  */


* {
    box-sizing: border-box;
  }
  
  body {
    background-color:#fffd10;
    border: 5px solid green;
    padding: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
  }
  body {
    background:orange;
  }

  @media (min-width: 768px) {
    body {
      background-color: green;
    }
  }

  @media (min-width: 1024px) {
    body {
      background: mediumpurple;
    }
  }
  width:300px;
  margin:0 auto;
  border: 5px;
  padding: 20px;
   border-radius: 25px; 
  }
  #boxA:hover {
    transform: rotate(45deg) ;
    transition: 0.3s ease;
  }
  #boxB:hover {
    transform: skew(20deg, 10deg);
      transition: 0.3s ease;
    }

  #ind_box1 {
  transform: rotate(45deg);
  transition: 0.3s ease;
  }

    #ind_box2 {
      transform: skew(20deg, 10deg);
        transition: 0.3s ease;
      }
    } 
  
  